$main-color1: #514afd;
$main-color2: #24c6dc;

$sub-color1: darken(#fdc830, 15%);
$sub-color2: darken(#f37335, 10%);

$dark-color1: #292e49;
$dark-color2: #536976;

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #24c6dc;
  background: linear-gradient(to left bottom, $main-color1, $main-color2);
  overflow: hidden;
}

.header-text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #fff;
  font-family: Helvetica, "游ゴシック", sans-serif;
}

.header-title {
  max-width: 80%;
  margin: 0 auto 30px;
  font-size: clamp(2rem, 2vw, 3rem);
  letter-spacing: 1px;
  text-align: center;
}

.product-title {
  width: 100%;
  margin-bottom: 6vh;
  font-size: clamp(4.5rem, 5vw, 7.5rem);
  text-align: center;
}

.header-text {
  display: flex;
  justify-content: space-between;
  width: unquote("max(242px, 35%)");
  margin: 0 auto 15px;
  font-size: clamp(2.2rem, 3vw, 4.2rem);
  font-weight: 900;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 10px inset rgba($main-color1, 0.4);
}

.circle1 {
  width: 108vh;
  height: 108vh;
  border-radius: 50% 50% 50% 53%/50% 50% 55% 55%;
  animation: circle-animation1 20s linear infinite, opacity 4s forwards;
  border: 100px solid rgba(160, 180, 240, 0.05);
}

.circle2 {
  width: 130vh;
  height: 116vh;
  border-radius: 52% 50% 50% 50%/50% 50% 52% 50%;
  animation: circle-animation2 15s linear infinite, opacity 6s forwards;
  border: 130px solid rgba(160, 180, 240, 0.05);
}

.circle3 {
  width: 85vh;
  height: 91vh;
  border-radius: 52% 50% 50% 50%/50% 50% 52% 50%;
  animation: circle-animation1 23s linear infinite, opacity 10s forwards;
}

@keyframes circle-animation1 {
  0% {
    transform: translate(-48%, -55%) rotate(0deg);
  }

  25% {
    transform: translate(-50%, -48%) rotate(180deg);
  }

  50% {
    transform: translate(-51%, -58%) rotate(360deg);
  }

  75% {
    transform: translate(-49%, -62%) rotate(180deg);
  }

  100% {
    transform: translate(-48%, -55%) rotate(0deg);
  }
}

@keyframes circle-animation2 {
  0% {
    transform: translate(-59%, -53%) rotate(0deg);
  }

  25% {
    transform: translate(-50%, -51%) rotate(180deg);
  }

  50% {
    transform: translate(-51%, -55%) rotate(360deg);
  }

  75% {
    transform: translate(-49%, -59%) rotate(180deg);
  }

  100% {
    transform: translate(-59%, -52%) rotate(0deg);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@media (max-width: 768px) {
  .circle1 {
    width: 88vh;
    height: 88vh;
    border: 60px solid rgba(160, 180, 240, 0.1);
  }

  .circle2 {
    width: 85vh;
    height: 85vh;
    border: 80px solid rgba(160, 180, 240, 0.1);
  }

  .circle3 {
    width: 80vh;
    height: 78vh;
    border: 80px solid rgba(160, 180, 240, 0.1);
  }
}

.btn-wrapper {
  text-align: center;
}

.btn {
  display: inline-block;
  bottom: 50px;
  text-decoration: none;
  color: #fff;
  font-size: clamp(15px, 1.6vw, 17px);
  font-weight: 900;
  border-radius: 1px;
  padding: 16px 40px;
  background-image: linear-gradient(to right, $main-color1, $main-color2, $main-color1);
  background-size: 200%;
  background-position: right center;
  transition: 0.3s;

  &:hover {
    background-position: left center;
    transform: scale(1.05);
  }
}

.main {
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.section-title {
  color: #444;
  font-size: clamp(30px, 2.8vw, 45px);
  text-align: center;
  letter-spacing: 3px;
}

.contents-section {
  padding-top: 50px;
}

.contents-section-wrapper {
  padding: 50px 0 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto 30px;
}

.contents-introduction {
  position: relative;
  padding: 30px 50px;
  width: 50%;
}

.contents-numbering {
  margin-bottom: 10px;
  display: inline-block;
  font-size: 2.3rem;
  font-weight: 900;
  background: linear-gradient(90deg, #acb6e5, #86fde8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contents-title {
  margin-bottom: 20px;
  font-size: 3.5rem;
  color: #666;
}

.contents-text {
  margin-bottom: 10px;
  color: #444;
  font-size: 1.8rem;
  line-height: 1.55;
  letter-spacing: 1px;
}

.contents-image {
  width: 35%;
}

.contents-section {
  .contents1,
  .contents2 {
    padding: 30px 0 40px;
  }

  .contents1 {
    .contents-section-wrapper {
      .contents-introduction {
        background: #fff;
        border: 1px solid #eee;

        &::before,
        &::after {
          position: absolute;
          content: "";
          height: 100%;
          width: 100%;
        }

        &::before {
          top: 8px;
          left: 8px;
          background: transparentize($main-color2, 0.3);
          z-index: -1;
        }

        &::after {
          top: 16px;
          left: 16px;
          background: transparentize($main-color1, 0.4);
          z-index: -2;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .contents-section-wrapper {
    padding: 10px 0 0;
  }

  .contents-introduction {
    padding: 10px 15px;
  }

  .contents-numbering {
    font-size: 2rem;
    margin-bottom: 5px;
  }

  .contents-title {
    font-size: 2.8rem;
    margin-bottom: 20px;
  }

  .contents-image {
    display: none;
  }
}

@media (max-width: 768px) {
  .contents1,
  .contents2 {
    padding-top: 10px 0 20px;

    .contents-introduction {
      width: 80%;
    }
  }

  .contents1 {
    .contents-introduction {
      border: none;

      &::before,
      &::after {
        display: none;
      }
    }
  }

  .contents2 {
    background: lighten(#b3d4fc, 10%);
  }
}

.sec3 {
  background-color: $main-color1;
  background-attachment: fixed;
  // background-image: url("../svg/section3-bg.svg"), linear-gradient(to right, $main-color1, $main-color2);
  display: flex;
  padding: 50px 0 30px;
}

.sec3-section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
}

.sec3-introduction {
  margin: 0 auto;
  width: unquote("min(80vw, 950px)");
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1));
}

.sec3-inner {
  padding: 5% 10% 5% 5%;

  p {
    width: 100%;
    margin-bottom: 10px;
    color: #444;
    font-size: 2rem;
    font-weight: 500;
  }
}

.sec3-section-title {
  display: inline-block;
  color: $sub-color2;
  font-size: clamp(2.5rem, 3vw, 3rem);
  margin-bottom: 20px;
  background: linear-gradient(0deg, $sub-color2, $sub-color1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.sec3-btn-wrapper {
  margin-top: 30px;
  margin-bottom: 0;

  a {
    background-image: linear-gradient(to right, $sub-color1, $sub-color2, $sub-color1);

    &:hover {
      background-position: left center;
      transform: scale(1.05);
    }
  }
}

@media (max-width: 768px) {
  .sec3-section-wrapper {
    max-width: none;
  }

  .sec3-introduction {
    p {
      font-size: 1.6rem;
      line-height: 1.5;
    }
  }

  .sec3-section-title {
    margin-bottom: 10px;
  }
}

.sec4 {
  position: relative;
  padding: 70px 0;
  overflow: hidden;
}

.board {
  position: relative;
  background: #fff;
  box-shadow: 0 0 5px 5px #ddd;
  border-radius: 3px;
  padding: 3% 3% 2%;
  width: 35%;
  text-align: center;
  z-index: 2;
}

.board-index {
  position: absolute;
  top: -20px;
  left: -50px;
  background-color: #fff;
  padding: 10px 25px;
  font-size: 2.8rem;
  font-weight: 900;
  box-shadow: 0 0 5px 5px #ddd;
  border-radius: 3px;
}

.board-title {
  color: #666;
  font-size: 2.8rem;
  text-align: center;
  line-height: 1.5;
}

.board-icon-wrapper {
  margin: 20px auto;
}

.board-text,
.board-client {
  color: #666;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1.5;
  width: 80%;
  margin: 0 auto 10px;
}

.board-client {
  margin-top: 25px;
  color: #666;
  text-align: right;
}

.board1 {
  margin-top: 100px;
  margin-left: 41%;

  .board-index {
    color: $main-color2;
  }

  .board-client {
    background: linear-gradient(transparent 65%, rgba($main-color2, 0.7) 0);
  }
}

.board2 {
  width: 50%;
  margin-top: 100px;
  margin-left: 15%;

  .board-index {
    color: $main-color1;
  }

  .board-client {
    background: linear-gradient(transparent 65%, rgba($main-color1, 0.7) 0);
  }
}

.board-3 {
  margin-top: 100px;
  margin-left: 30%;

  .board-index {
    color: $sub-color1;
  }

  .client {
    background: linear-gradient(transparent 65%, rgba($sub-color1, 0.7) 0);
  }
}

@media (max-width: 768px) {
  .sec4 {
    padding: 50px 0;

    .section-title {
      width: 80%;
      margin: 0 auto 30px;
    }

    .board {
      width: 68%;
      margin: 0 auto 50px;
      padding: 12% 3% 6%;

      &:last-of-type {
        margin: 0 auto 20px;
      }

      .board-index {
        height: 30px;
        top: -15px;
        left: -30px;
        font-size: 2rem;
      }

      .title {
        width: 70%;
        margin: 0 auto;
        font-size: 2rem;
      }

      .icon {
        margin: 10px auto;
      }

      .text,
      .client {
        width: 85%;
        font-size: 1.5rem;
      }
    }
  }
}

.sec5 {
  padding: 50px 0 90px;

  .section-title {
    margin-bottom: 80px;
  }

  .wrapper {
    display: flex;
    justify-content: start;
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
  }

  .paid-member,
  .free-member {
    position: relative;
    width: 30%;
    padding: 2rem 2rem 100px;
    color: #fff;
    text-align: center;

    .icon {
      height: 80px;
      width: 100%;
      // background-image: url("../svg/section4-free.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20%;
    }

    .title {
      font-size: 2rem;
      font-weight: 400;
    }

    .fee {
      font-size: 1.8rem;
      margin: 10px 0;

      span {
        display: inline-block;
        font-size: 4rem;
        margin: 0 10px;
      }
    }

    p {
      font-size: 2rem;
    }

    .plan-specific {
      margin: 20px 0;

      .list {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto 15px;

        dl,
        dt {
          font-size: 1.3rem;
          font-weight: 500;
          text-align: left;
          letter-spacing: 1px;
        }
      }
    }

    .btn {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      padding: 10px 20px;
      margin-top: 20px;
      letter-spacing: 2px;
      font-weight: 900;
      background: #fff;
      font-size: 1.6rem;
      text-decoration: none;
    }
  }

  .introduction {
    padding: 0 3rem 2rem;
    width: 41%;
    background: #fff;

    .title {
      font-size: 4.5rem;
      margin-bottom: 15px;
    }

    p {
      color: #444;
      font-size: 1.7rem;
      line-height: 1.6;
      letter-spacing: 1px;

      .span1 {
        color: $sub-color1;
        font-size: 2.8rem;
        font-weight: 900;
      }

      .span2 {
        color: $main-color2;
        font-size: 2.8rem;
        font-weight: 900;
      }
    }
  }

  .free-member {
    background: linear-gradient(to top, $sub-color2, $sub-color1);
    box-shadow: 0 0 8px 2px $sub-color1;

    .btn {
      color: $sub-color1;
    }
  }

  .paid-member {
    background: linear-gradient(-10deg, $main-color1, $main-color2);
    box-shadow: 0 0 8px 2px $main-color2;
    margin: 0 3%;

    .btn {
      color: $main-color1;
    }
  }
}

@media (max-width: 768px) {
  .sec5 {
    padding: 0;
    margin: 0;

    .section-title {
      margin-bottom: 40px;
    }

    .wrapper {
      flex-direction: column;
      padding-bottom: 0;

      .paid-member,
      .free-member {
        width: 80%;
        padding: 1rem 2rem 80px;
        margin: 0 auto 20px;

        .icon {
          height: 70px;
        }

        .title {
          font-size: 1.5rem;
        }

        .fee {
          font-size: 1.8rem;

          span {
            font-size: 5rem;
          }
        }
      }

      .introduction {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 80%;

        .title {
          font-size: 3rem;
          font-weight: 900;
        }
      }
    }
  }
}

/**
** footer
**/

.footer {
  padding: 50px 8vw;
  background: #444;
  color: #fff;
  font-size: 1.6rem;
}

.footer-wrapper {
  display: flex;
  margin-bottom: 30px;
}

.footer-title {
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: 400;
}

.company,
.address {
  margin-bottom: 5px;

  a {
    color: #fff;

    &:hover {
      color: $sub-color1;
    }
  }
}

.list-block {
  margin-left: 5vw;
  display: flex;
}

.list-column {
  margin: 0 20px;

  a {
    display: block;
    margin-bottom: 20px;
    color: #fff;
    text-decoration: none;

    &:hover {
      color: $sub-color1;
    }
  }
}

.refer {
  margin-top: 30px;
  font-size: 1.5rem;
  text-align: center;

  a {
    display: inline-block;
    color: #fff;
    font-weight: 900;
    margin: 0 3px;
    transition: 0.2s;

    &:hover {
      color: $main-color2;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 40px 7vw 30px;
    margin-top: 0;
  }

  .footer-wrapper {
    flex-direction: column;
  }

  .footer-info {
    margin-bottom: 20px;
  }

  .footer-title {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .company,
  .address {
    font-size: 1.2rem;

    a {
      font-size: 1.2rem;
    }
  }

  .list-block {
    margin: 0;
  }

  .list-column {
    margin: 0 14px 0 0;

    a {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }
  }
}
